<ion-header>
  <ion-navbar color="coorp">
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-slides pager >
        <ion-slide *ngFor="let img of alojamiento?.imagenes" style="width:100%;">
          <img src="{{img}}" style="width:100%;" (click)=openImagePage(img.index)>
        </ion-slide>
      </ion-slides>
      <ion-card-title>
        <h2 class="h2_nombre_establecimiento">{{alojamiento?.nombre}}</h2>
      </ion-card-title>

      <div *ngIf="alojamiento?.texto!='' && alojamiento?.texto!=null" class="contenidoTexto intro" [innerHTML] = "'<p>' + alojamiento?.texto + '</p>'"></div>
      
      <ion-grid>
        <ion-row> 
          <ion-col width-50>
            <ion-list>
              <ion-item>
                <button ion-button  block color="coorp" [disabled]="alojamiento?.texto=='' || alojamiento?.texto==null" (click)="openVerMasAlojamiento()"><label class="labelPadding">Ver más</label></button>
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col width-50>
            <ion-list>
              <ion-item>
                <button ion-button  block color="coorp" (click)="openMapaAlojamientoPage()"><label class="labelPadding">Mapa</label></button>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid>
        <ion-row>

          <ion-col width-100>  
            <ion-list>
              <ion-item width-100 text-wrap *ngIf="alojamiento?.direccion!='' && alojamiento?.direccion!=null">
                <ion-icon name="pin"></ion-icon> <label class="label_alojamiento"> {{alojamiento?.direccion}} <span *ngIf="alojamiento?.localidad!='' && alojamiento?.localidad!=null">({{alojamiento?.localidad}})</span></label>
              </ion-item>
              <ion-item width-100 text-wrap *ngIf="alojamiento?.email!='' && alojamiento?.email!=null">
                <ion-icon name="mail"></ion-icon> <label class="label_alojamiento"> <a href="mailTo:{{alojamiento?.email}}">{{alojamiento?.email}}</a> </label>
              </ion-item>
              <ion-item width-100 text-wrap *ngIf="alojamiento?.telefono!='' && alojamiento?.telefono!=null">
                <ion-icon name="call"></ion-icon> <label class="label_alojamiento"> <a href="tel:{{alojamiento?.telefono}}">{{alojamiento?.telefono}}</a> </label>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
      
    </ion-card-content>
  </ion-card>  
</ion-content>
