page-contenido {
  .contenidoTexto p{
     text-align: justify;
  }
  .intro{
    height:100px;
    overflow: hidden;
  }

  /*.button-full.button-outline {
    border-right-width: 1px;
    border-left-width: 1px;
  }*/
  .labelPadding{
    padding:5px;
  }
}
